:root{
    --black: hsl(210, 20%, 4%);
    --copy-blue: hsl(206, 8%, 36%);
    --primary-blue: hsl(201, 38%, 29%);

    --light-blue: hsl(203, 17%, 51%);
    --very-light-blue: hsl(203, 18%, 68%);
    --grayish-blue: hsl(38, 8%, 81%);
    --very-grayish-blue: hsl(0, 0%, 90%);
    --white: hsl(0, 0%, 100%);

    --accent-yellow: hsl(47, 84%, 53%);

    --youtube-red: hsl(0, 100%, 50%);
    --facebook-blue: hsl(220, 44%, 51%);
    --whatsapp-green: hsl(154, 100%, 37%);
    --mail-pink: hsl(329, 81%, 63%);
}