@use '../util/' as u;

@keyframes fade-down {
    0%{
        opacity: 0;
        transform: translateY(-30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-up {
    0%{
        opacity: 0;
        transform: translateY(30px) scale(2);
    }
    100%{
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

@keyframes fade-from-up {
    0%{
        opacity: 0;
        transform: translateY(30px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}